.fa-eye{
    color: #eeeeee;
}
.fa-sign-in{
    color: #f5f5f5;
}
.ui-datatable ui-widget {
    margin: 5% 8% 0 8%;
    text-align: center;
    background: #5c6bc0;
}
.encours {
    background: #00cc05;
    color: black;
    font-weight: bold;
}
.terminee {
    color: black !important;
    font-weight: bold;
    font-size: 16px;
}
.en-retard {
    color: #ffffff !important;
    font-weight: bold;
    background-color: #bb002c !important;
    font-size: 16px;
}
.en-traitement {
    color: black !important;
    font-weight: bold;
    font-size: 16px;
}
.cellulevide{
    background-color: gray;
    color: gray;
}
.panelLogin{
    border-style: hidden !important;
    cursor: hand;
    padding: 10px;
}
.panelLogin td {
    border-style: hidden !important;
}